.items-container {
    background-color: lawngreen !important;
    display: grid !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1150px !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}

.cardStyle{
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}

.rowCard{
    margin-right: 0px;
    margin-left: 0px;
}


.cardRecipe{
    width: 359px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.card-img-top{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    
}
.card-body{
    background-color: #E7E7E7;
}

h1{
    color: red;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.recipeName{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}