.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar-sticky {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #FFFFFF;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--logo {
  width: 120px;
  height: 40px;
  margin-right: 0.5rem;
}

.navbar--link {
  display: flex;
  list-style: none;
  
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
  color: #FF6060;
}

.textOverlay{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 500;
  font-style:normal;
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
