.offer{
    background-color: #FFFFFF;
}

.containerProperties{
    background-color: royalblue;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
/*Cards */

.cardStyle{
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}

.cardRental{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.card-img-top{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    
}
.card-body{
    background-color: red;
}