.containerProperties{
    background-color: #FFFFFF;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    grid-template-columns: 1fr 1fr 1fr;
}
/*Cards */

.cardStyle{
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}



.cardRecipe{
    width: 359px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.card-img-top{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    
}
.card-body{
    background-color: #E7E7E7;
}